<div class="about">
    <div class="container">
        <div class="about__image">
            <img src="../../assets/images/no_image_avaible.jpg" alt="">
        </div>
        <div class="about__content">
            <div class="content content__name">
                Jiyan Güngen
            </div>
            <div class="content content__education">
                Computer Engineer 
            </div>
            <div class="content content__contact">
                jiyangungen@yandex.com
            </div>
            <div class="content content__content">
                
            </div>
        </div>
    </div>
</div>