$color-dark: #0B0C10;
$color-dark--open:#1f2833;
$color-white:#C5C6C7;
$color-main: #66fcf1;
$color-main-hover: #45a29e;

.menu{
    display: none;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: $color-dark;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    padding: 2.5rem 0;
    align-items: center;
    .menu__section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width:100%;
        margin: 1rem 0;
        .header{
            width: 100%;
            background-color: $color-dark;
            color: $color-white;
            padding: .5rem;
            padding-bottom: 0;
            margin-bottom: 0 !important;
            text-align: center;
            border-radius: .5rem .5rem 0 0 ;
            .header__text{
                color: $color-white;
                padding-bottom: 1rem;
                border-bottom: 1px solid $color-main-hover;
            }
        }
    }
}
.list__icon{
    display: flex;
    position: fixed;
    z-index: 100;
    cursor: pointer;
    background-color: $color-main-hover;
    padding:.5rem 1rem;
    border-radius: 50%;
    color: $color-dark;
    right: 2rem;
    bottom: 2rem;
    font-size: 2rem;
    &:hover{
        animation: sci 2s;
    }
}


@keyframes sci{
    from { -webkit-transform:rotate(0deg); }
    to   { -webkit-transform:rotate(360deg); }
}

@media (min-width: 992px) {
    .menu{
        display: flex !important;
        flex-direction: column;
        height: auto;
        width: auto;
        position: static;
        background-color: transparent;
        transition: 0;
        padding: 0;
    }
    .list__icon{
        display: none;
    }
}