$color-dark: #0B0C10;
$color-dark--open:#1f2833;
$color-white:#C5C6C7;
$color-main: #66fcf1;
$color-main-hover: #45a29e;

.index{
    background-color: $color-dark--open;
    .container{
        padding:1rem 0;
        .slider{
        }
    }
}